
$linecolor: #c7c7c7;

.news {
	overflow-y: scroll;
	height: 400px;
	padding-left: 24px;

	.article{
		padding: 16px 0;
		border-bottom: 1px solid $linecolor;

		img{
			float: left;
			height: 80px;
			width: 140px;
			margin-right: 16px;
		}

		.article_info{
			float: right;
		}

		.title{
			font-weight: bold;
			font-size: 1.5em;
		}

		.author, .date{
			font-size: 1em;
			margin-right: 8px;
		}

		.date{
			padding-left: 8px;
			border-left: 2px solid $linecolor;
		}	
	}
}

.clearfix{
	clear:both;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}